page-edit-profile {

    #map{
        height: 50%;
        margin-top: 20px;
    }

}

.topcorner{
    position:absolute;
    top:35%;
    right:1%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
