<ion-header>
  <ion-navbar>
    <ion-title>
      {{userData.username}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row *ngFor="let producto of productos" >
          <ion-col width-50 >
            {{producto.name}}
          </ion-col>
        </ion-row>
      </ion-grid>
  <ion-card *ngIf="userData">
    <ion-card-header>{{userData.username}}</ion-card-header>
    <img [src]="userData.picture">
    <ion-card-content>
      <p>Email: {{userData.email}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
