page-home {
    .image-container {
        min-height: 200px;
        background-size: cover;
    }
    .principal {
        width: 12%;
        height: 12%;
    }
}

.topcorner{
    position:absolute;
    top:35%;
    right:1%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   }

.product-box{
    border: 1px solid #eee;
}

.image-container {
    position: relative;
    width: 100%;
    height: 0;
}

.product-details {
    text-align: left;
    margin-bottom: 20px;
}

.product-name {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
    font-family: Lato,Arial,sans-serif;
    font-style: normal;    
    color: #4286f4;
  }
  
  .product-precio {
    font-size: 21px;
    line-height: 21px;    
    color: #111111;
    font-family: Lato,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  
  .product-cantidad {
    font-family: Lato,Arial,sans-serif;  
    font-style: normal;    
    font-weight: normal;    
    font-size: 12px;
    line-height: 15px;        
    color: #b12704;
  }